body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
}

.container {
    width: 420px;
    margin: 80px auto;
    background: rgba(0,0,0,0.6);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px #00e6e6;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}


input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 8px;
    border: none;
    border: none;
    box-sizing: border-box;
    text-align: right;
    direction: rtl;
}